---
title: TEST
---

<article class="page">
  <div class="container page-inner">

    <header>
      <div class="row">

        <h1>Barocktanztraining für Anfänger und Fortgeschrittene</h1>

        <h3>with <a href="#">Bernd Niedecken</a>, <a href="#">Pia Brocza</a></h3>
        <h3>4 October 2013 / Vienna, Austria</h3>

      </div>
    </header>  

    <article>

      <!-- BEGIN MAIN CONTENT ROW -->
      <div class="row section">
        <div class="col-md-4">
          <img src="http://placehold.it/300x300" style="width: 100%" /> 
        </div>

        <div class="col-md-6">

          <%= partial("text/event-detail-description") %>
 
        </div>
        <div class="col-md-2 omega">
          <!-- tags -->
          <a class="label label-primary" href="#">All levels</a>
          <a class="label label-primary" href="#">Baroque</a>
          <a class="label label-primary" href="#">Ongoing classes</a>
        </div>
      </div>
      <!-- END MAIN CONTENT ROW -->

      <!-- BEGIN MIDDLE ROW : VENUE -->
      <!-- include a partial with data -->
      <%= partial( :address_with_map, :locals => { 
        :name => "Tanzstudio Manhardt AA", :street => "Neubaugasse 38", :place => "Wien", :country => "Austria"
      })  %>      
      <!-- END MIDDLE ROW -->


      <!-- BEGIN ROW : INVOLVED -->
      <!-- translate here depending on the event type -->
      <div class="row section">
        <h3>Teachers</h3>
        <div class="col-md-4">
          <!-- INVOLVED -->
          <!-- include a partial with data -->
          <%= partial( :address_short, :locals => { 
            :name => "Pia Brocza", :street => "Hausstrasse 3", :place => "Wien", :country => "Austria"
          })  %>

        </div>
        <div class="col-md-4">
          <!-- INVOLVED -->
          <!-- include a partial with data -->
          <%= partial( :address_short, :locals => { 
            :name => "Bernd Niedecken", :street => "Innsbrucker Str. 97", :place => "Freiburg", :country => "Germany"
          })  %>
        </div>
      </div>


      <!-- BEGIN ROW : INVOLVED -->
      <!-- translate here depending on the event type -->
      <div class="row section">
        <h3>Contacts</h3>
        <div class="col-md-4">
          <!-- INVOLVED -->
          <!-- include a partial with data -->
          <%= partial( :address_short, :locals => { 
            :name => "zeitenTANZ - Verein zur Förderung des historischen Tanzes in Österreich", 
            :street => "Lobmeyrgasse 5/44", :place => "Wien", 
            :country => "Austria"
          })  %>

        </div>
      </div>


      <!-- END MIDDLE ROW -->
    </article>
  </div>
</article>